<?php
// Report all PHP errors (see changelog)
// error_reporting( -1 );
// @ini_set( 'display_errors', 0 );

// Dev Environment
define( 'DB_NAME',     'johnsdewars_com' );
define( 'DB_USER',     'root' );
define( 'DB_PASSWORD', 'password' );
define( 'DB_HOST',     'mariadb' );

define( 'WP_HOME',    'http://johnsdewars_com.local' );
define( 'WP_SITEURL', WP_HOME );

// Dev will always want debug on and caching off
define( 'WP_DEBUG',         false );
define( 'WP_DEBUG_DISPLAY', WP_DEBUG );
define( 'WP_CACHE',         false );